/*Общие стили*/
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  background: #849d8f top center no-repeat;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.content-wrapper {
  min-width: 900px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2.3%;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-3.png");
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 1px;

  color: #ffffff;
}

.main-nav {
  float: left;
  min-width: 560px;
}

.header-logo {
  float: left;
  width: 154px;
  height: 64px;
  padding-top: 9px;
  margin-right: 10px;
  margin-left: -2px;
}

.nav-list {
  margin: 0;
  padding: 0;
  padding-top: 22px;

  font-size: 0;

  list-style: none;
}

.nav-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 7px 14px;

  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}

.nav-link {
  color: #ffffff;
  text-align: center;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-item.current {
  background-color: #d07058;
  border-radius: 16px;
}

.nav-item.current .nav-link {
  border-bottom: none;
}

.nav-item:hover {
  border-radius: 16px;
  background-color: #f7f6f3;
}

.nav-item:hover .nav-link {
  color: #333333;
}

.nav-item:active {
  color: #333333;

  border-radius: 16px;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.dropdown-list {
  position: absolute;
  left: -7px;
  z-index: 100;
  display: none;
  margin: 0;
  margin-top: 12px;
  padding: 5px 0;
  width: 143px;

  color: #333333;

  list-style: none;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.dropdown-list::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 5px;
}

.dropdown-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.dropdown-link {
  display: block;
  padding: 7px 21px 7px 14px;

  color: #333333;
  text-decoration: none;
}

.dropdown-item:first-child {
  font-weight: 600;
}

.dropdown-item:hover {
  background-color: #fbded7;
}

.dropdown-item:active {
  background-color: #f6b5a5;
}

.nav-item:hover .dropdown-list {
  display: block;
}

.dropdown-item.current {
  background-color: #d07058;
}

.user-block {
  float: right;
  min-width: 267px;
  margin-top: 22px;

  font-size: 0;
}

.user-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.user-item .view-hidden {
  position: relative;
  display: block;
  margin: 0 5px 0 5px;
  padding: 8px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;

  background-color: rgba(255,255,255,0.2);
  border-radius: 16px;
}

.user-item::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 13px;
  width: 17px;
  height: 17px;

  background: url("../img/sprite.png") no-repeat;
}

.user-login::after {
  left: 21px;
  bottom: 7px;
  width: 21px;
  height: 19px;

  background-position: 0 -100px;
}

.user-cart.cart-empty::after {
  left: 21px;
  bottom: 6px;
  width: 21px;
  height: 20px;

  background-position: 0 -200px;
}

.user-cart.cart-full::after {
  left: 21px;
  bottom: 6px;
  width: 21px;
  height: 20px;

  background-position: 0 -300px;
}

.user-item:last-child .view-hidden {
  margin-right: 0px;
}

.user-item:hover .view-hidden {
  color: #323232;

  background-color: #f8f7f4;
}

.user-search:hover::after {
    background-position: 0 -50px;
}

.user-login:hover::after {
    background-position: 0 -150px;
}

.user-cart.cart-empty:hover::after {
    background-position: 0 -250px;
}

.user-search .view-hidden {
  padding-left: 16px;
  padding-right: 16px;

  text-indent: -9999px;

  background-position: 0 0;
}

.user-login .view-hidden {
  width: 92px;
  padding-left: 45px;
}

.user-cart .view-hidden {
  width: 117px;
  padding-left: 45px;
}

.user-item .hidden-block::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 4px;
}

.user-item .hidden-block {
  position: absolute;
  right: 5px;
  z-index: 100;
  display: none;
  margin: 0;
  margin-top: 4px;
  padding: 20px 18px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4)
}

.user-item .hidden-input {
  padding: 10px 15px;

  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #323232;

  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 210);
}

.user-item .hidden-block:last-child {
  right: 0;
}

.user-search .hidden-input {
  width:   309px;
}

.user-login .hidden-input {
  width:   239px;
  margin-bottom: 20px;
}

.user-login .hidden-links {
  float: right;
  width: 120px;
}

.user-login .hidden-link {
  margin: 0px;
  padding: 0px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}

.user-cart .empty-msg {
  width: 250px;
  margin: 0;
  padding: 0;
}

.cart-full .hidden-block {
  width: 540px;
  padding: 26px 14px 12px 16px;
}

.cart-full .hidden-table {
  border-bottom: 1px solid #cacac7;
}

.cart-full .table-item {
  position: relative;
  width: 100%;
}

.table-name, .table-count, .table-price {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.cart-full .btn-delete {
  position: absolute;
  left: 18px;
  margin: 0;
  margin-top: -10px;
  padding: 0;
  padding-left: 11px;

  font-size: 10px;
  line-height: 11px;
  text-indent: -9999px;

  background: transparent url("../img/sprite.png") 0 -950px no-repeat;
  border: none;
}

.cart-full .table-image {
  margin-left: 20px;

  border-radius: 50%;
}

.cart-full .table-name {
  padding-left: 12px;
  width: 240px;
}

.cart-full .table-count {
  padding-left: 13px;
  width: 110px;
}

.cart-full .price-per-unit {
  color: #999999;
}

.cart-full .table-price {
  padding-left: 20px;
  width: 86px;
}

.cart-full .summary {
  display: block;
  width: 100%;
  margin: 0;
  margin-top: 17px;
  padding: 0;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #323232;
  text-align: right;
}

.cart-full .btn {
  float: right;
  margin-top: 15px;
}

.user-item:hover .hidden-block {
  display: block;
}

.breadcrumbs {
  float: left;
  width: 48.9%;
  margin-right: 10%;
  padding-top: 35px;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;

  font-size: 0;

  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 22px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs-item::after {
  position: absolute;
  top: 0;
  right: 8px;
  content: "»";

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs-item:last-child::after {
  display:none;
}

.current .breadcrumbs-link {
  border-bottom: none;
}

.info {
  float: right;
  width: 23.3%;
  margin-top: 10px;
  margin-left: 10%;
}

.info .time {
  float: right;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.info .phone {
  float: right;

  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.btn {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 11px 22px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fefefe;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: linear-gradient(0deg, #e74a35, #f26843);
  border-radius: 23px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0 , 0.64);
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
}

.btn-large {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 10px 42px;

  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  border: none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.btn-large:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-large:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.hits,.catalog-items {
    font-size: 0px;
}

.item {
  position: relative;
  width: 23.3%;
  display: inline-block;
  vertical-align: top;
  margin-right: 2.268%;
  margin-bottom: 40px;

  font-size: 16px;
}

.item.hit::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;

  background: url("../img/sprite.png") 0 -350px no-repeat;
}

.item-figure {
  position: relative;
  margin: 0;
  padding: 0;
}

.item-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.item-price {
  position: absolute;
  bottom: 18px;
  left: 0;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 44px;
  line-height: 45px;
  color: #ffffff;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.item-price .rouble-kg {
  padding-left: 31px;

  font-size: 30px;
  line-height: 32px;

  background: url("../img/sprite.png") 0 -1000px no-repeat;
}

.item-name {
  margin:0;
  padding: 0;

  text-align: center;
}

.item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.item:nth-child(4n+4) {
  margin-right: 0;
}

.item > .btn {
  position: absolute;
  display: none;
}

.item:hover {
}

.main-footer{
  min-height:84px;
  margin-top: 19px;
}

.footer-socials {
  width: 23.3%;
  float: left;
  margin-right: 2.268%;
  padding-top: 25px;

  font-size: 0;
}

.social-btn {
  margin: 0;
  margin-right: 11px;
  padding: 16px 16px;

  background: url("../img/sprite.png") no-repeat;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.7);
  opacity: 0.8;
}

.social-btn-twitter {
  background-position: 0 -650px;
}

.social-btn-instagram {
  background-position: 0 -700px;
}

.social-btn-fb {
  background-position: 0 -750px;
}

.social-btn-vk {
  background-position: 0 -800px;
}

.social-btn:hover {
  opacity: 1;
}

.social-btn:active {
  opacity:1;
  box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 1);
}

.footer-links {
  width: 48.7%;
  float: left;
  margin: 0;
  padding: 0 9%;
}

.links-list {
  margin:0;
  padding: 0;
  padding-top: 14px;

  text-indent: -9999px;
}

.links-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin: 0;
  padding: 0;
}

.links-item:nth-child(2n+1) {
  padding-left: 25px;
}

.footer-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-special-link {
  font-weight: 700;
}

.footer-special-link:before {
  position: absolute;
  top: 3px;
  left: 4px;
  content: "";
  width: 15px;
  height: 13px;

  background: url(../img/sprite.png) 0 -850px no-repeat;
}

.footer-copyright {
  width: auto;
  float: right;
  margin: 0;
  padding: 0;
}

.copyright-text {
  margin: 0;
  padding: 0;

  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.copyright-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/*Стили для главной страницы*/
.slider {
  position: relative;
  width: 100%;
  min-height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 41px;
  padding-top: 282px;

  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-text {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60.35px;
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 100;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 21px;
  height: 21px;
  margin-right: 8px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#btn-1:checked ~ .site-wrapper #slide-1,
#btn-2:checked ~ .site-wrapper #slide-2,
#btn-3:checked ~ .site-wrapper #slide-3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.offers {
  margin-bottom: 40px;
}

.offers .offers-banner {
  position: relative;
  width: 48.9%;
  min-height: 229px;
  padding: 16px 20px;
  border-radius: 15px;
}

.offers-banner .banner-lead {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.offers-banner .banner-text {
  margin: 0;
  margin-bottom: 70px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.offers-banner .btn {
  position: absolute;
  right: 21px;
  bottom: 24px;
}

.offers .raspberries {
  float: left;

  color: #ffffff;

  background: #c2273c url("../img/background-raspberries.jpg") -52px -94px;
}

.offers .chocolate {
  float: right;

  color: #ffffff;

  background: #4a2a1b url("../img/background-chocolate.jpg") -218px -104px;
}

.features {
  width: 100%;
  margin-bottom: 40px;
  padding: 25px 22px;

  color: #323232;

  background-color: #ebdec0;
  background-image: url("../img/pattern_waffle.jpg");
  background-repeat: repeat;
  border-radius: 15px;
}

.features-title {
  margin: 0px;
  margin-bottom: 10px;

  font-weight: 500px;
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  margin: 0;
  padding: 0;

  font-size: 0;

  list-style: none;
}

.features-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 49%;

  margin: 0;
  margin-right: 2%;
  padding: 0;
  padding-left: 56px;
}

.features-item:nth-child(2n) {
  margin-right: 0;
  padding-right: 5px;
}

.features-text {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 5px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.features-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;

  background: yellow;
  background: transparent url("../img/sprite.png") no-repeat;
}

.features-item.ice::after {
  background-position: 0 -450px;
}

.features-item.cow::after {
  background-position: 0 -500px;
}

.features-item.leaf::after {
  background-position: 0 -550px;
}

.features-item.thermometer::after {
  background-position: 0 -600px;
}

.main-row {
  margin-bottom: 40px;
}

.blog {
  float: left;
  width: 48.9%;
  min-height: 220px;
  margin: 0;
  padding: 24px 20px;

  color: #323232;

  background: #ffffff url("../img/background-strawberry.jpg") 115% -35px no-repeat;
  border-radius: 15px;
}

.blog-title {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.blog-link {
  width: 300px;
  display: block;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.subscription {
  float: right;
  width: 48.9%;
  min-height: 220px;
  margin: 0;
  padding: 5px 5px;

  color: #5a5a5a;

  background: #f8f7f4 url("../img/pattern_mail.png") repeat;
  border-radius: 15px;
}

.subscription-content {
  min-height: 210px;
  position: relative;
  padding: 33px 20px;

  background-color: #ffffff;
  border-radius: 15px;
}

.subscription-title {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.subscription-form {
  position: absolute;
  bottom: 35px;
  width: 100%;
}

.subscription-input {
  width: 55%;
  margin: 0;
  margin-right: 11px;
  padding: 10px 15px;

  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;

  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.map::before {
  content: "";
  position: absolute;
  z-index: 50;
  left: 0;
  width: 100%;
  height: 428px;

  background: #f7f1d9 url("../img/map-pinned.png") 50% 50% no-repeat;
}

.feedback {
  position: relative;
  z-index: 100;
  width:302px;
  float: right;
  min-height: 250px;
  margin: 62px 0;
  padding: 28px 25px;

  color: #323232;

  background-color: #fefefe;
  border-radius: 15px;
}

.feedback-text {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.feedback-contacts {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.modal-feedback {
  position: fixed;
  display: none;
  z-index:200;
  top: 50%;
  margin-top: -221px;
  left: 50%;
  margin-left: -238px;
  width: 477px;
  min-height: 442px;
  padding: 19px 24px;

  background-color: white;
  border-radius: 15px;
}

.modal-title {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  margin: 0;
  padding: 0;
  padding-left: 18px;

  text-indent: -9999px;

  background: transparent url("../img/sprite.png") 0 -900px no-repeat;
  border: none;
}

.modal-input {
  display: block;
  width: 267px;
  padding: 10px 15px;
  margin-top: 20px;

  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #323232;

  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 210);
}

.modal-comment {
  width: 429px;
}

.modal-feedback .btn {
  float: right;
  margin-top: 25px;
}
/*Стили для внутренней страницы*/
.page-title {
  width: 48.9%;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

}

.title-text {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 35px;
  line-height: 35px;
  color: #ffffff;
}

.catalog-filters {
  width: 100%;
  margin-bottom: 40px;

  font-size: 0px;
}

.filters-item {
  display: inline-block;
  font-size: 12px;
}

.filters-item.sort {
  width: 193px;
}

.sort-list {
  border: none;
}

.catalog-items {
  margin-bottom: 42px;
}

.pagination {
  width: 100%;
  padding-bottom: 36px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.pagination-list {
  float: right;
  margin: 0;
  padding: 0;

  font-size: 0;
  list-style: none;
}

.pagination-item {
  position: relative;
  display: inline-block;
  vertical-align: top;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.pagination-link {
  display: block;
  padding-left: 9px;
  padding-right: 9px;
  margin-right: 3px;

  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.pagination-prev, .pagination-next {
  text-indent: -9999px;
}

.pagination-prev .pagination-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 9px;
  height: 14px;

  background: url("../img/sprite.png") 0 -1050px no-repeat;
}

.pagination-next .pagination-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 9px;
  height: 14px;

  background: url("../img/sprite.png") 0 -1100px no-repeat;
}

.pagination-item:last-child .pagination-link{
  padding-right: 0;
  margin-right: 0;
}
